@font-face {
  font-family: "Circular Regular";
  src: url("../fonts/Circular\ Regular/");
}
@font-face {
  font-family: "Circular Std";
  src: url("../fonts/CircularStd");
}

@import "variables";
@import "base";

@import "header";
@import "footer";

@import "main";
