@font-face {
  font-family: "CircularStd-Book";
  src: url("../fonts/CircularStd/CircularStd-Book.otf");
}
@font-face {
  font-family: "CircularStd-BookItalic";
  src: url("../fonts/CircularStd/CircularStd-BookItalic.otf");
}
@font-face {
  font-family: "CircularStd-Medium";
  src: url("../fonts/CircularStd/CircularStd-Medium.otf");
}

@import "variables";
@import "base";

@import "header";
@import "footer";

@import "strapline";
@import "splash";
@import "match-maker";
@import "plant-of-the-week";
@import "greenhouse";

@import "misc";
