* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "CircularStd-Book";
  font-size: 18px;
  height: 100%;
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: white;
}

button {
  border: none;
  cursor: pointer;
}

h3 {
  font-size: 2.66rem;
  margin: 0;
}

p {
  font-size: 2rem;
}
