.greenhouse-container {
  height: 2150px;
  width: 100%;
  padding-top: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media screen and (max-width: $bp-desktop) {
    height: fit-content;
  }
  .greenhouse-title {
    color: $blue;
    font-size: 4rem;
    letter-spacing: 0.2rem;
    text-align: center;
    margin: 2rem 0;
    @media screen and (max-width: $bp-desktop) {
      width: 80vw;
    }
  }
  .greenhouse-text {
    color: $pink;
    letter-spacing: 0.1rem;
    width: 600px;
    text-align: center;
    margin-bottom: 5rem;
    @media screen and (max-width: $bp-desktop) {
      max-width: 500px;
    }
    @media screen and (max-width: $bp-tablet) {
      font-size: 1.2rem;
      padding: 0 1rem;
    }
  }
  .greenhouse-images {
    max-width: 850px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10rem;
    @media screen and (max-width: $bp-desktop) {
      width: 100%;
    }
    .greenhouse-image {
      max-width: 400px;
      height: auto;
      margin: 0.7rem;
    }
    .img1 {
      margin-top: -200px;
    }

    .img3 {
      margin-top: 200px;
      @media screen and (max-width: 844px) {
        margin-top: 0.7rem;
      }
    }
  }
  .arrow {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4aeba;
    color: $white;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-size: 5rem;
    box-shadow: $box-shadow;
    margin: 5rem 0;
    cursor: pointer;
    img {
      height: 50px;
      width: 50px;
      transform: rotate(270deg);
    }
  }
}
