header {
  background-color: $pink;
  display: flex;
  flex-direction: column;
  nav {
    height: 80px;
  }
  .logo-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 2rem 0;
    @media screen and (max-width: $bp-tablet) {
      width: 80%;
    }
    img {
      @media screen and (max-width: $bp-tablet) {
        width: 100%;
        height: auto;
      }
    }
  }
}
