.site-container {
}

.strapline-container {
  background-color: $pink;
  height: 600px;
  display: flex;
  justify-content: center;
  .strapline {
    color: $white;
    font-size: 2.6rem;
  }
}

.match-maker-container {
  height: 600px;
  border: 1px solid red;
  display: flex;
  flex-direction: column;
  align-items: center;
  p {
    color: $blue;
  }
  button {
    width: 484px;
    height: 177px;
    font-size: 2rem;
    color: $pink;
    background-color: $blue;
    border-radius: 15px;
  }
}

// font-family: Helvetica;
// font-size: 37px;
// color: #f4aeba;
// text-align: center;
// line-height: 52px;
