.match-maker-container {
  height: 725px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  @media screen and (max-width: $bp-tablet) {
    justify-content: center;
    height: fit-content;
  }
  .match-maker-text {
    font-family: "CircularStd-Medium";
    text-align: center;
    margin-top: 5rem;
    color: $blue;
    max-width: 700px;
    line-height: 62px;
    letter-spacing: 0.1rem;
    @media screen and (max-width: $bp-tablet) {
      font-size: 1.5rem;
      line-height: 50px;
      padding: 0 2rem;
      margin-top: 2rem;
    }
  }
  .match-maker-button {
    font-family: "CircularStd-Medium";
    margin: 5rem auto 8rem auto;
    width: 484px;
    height: 177px;
    font-size: 2.4rem;
    color: $pink;
    background-color: $blue;
    border-radius: 15px;
    box-shadow: $box-shadow;
    @media screen and (max-width: $bp-desktop) {
      width: calc(484px / 2);
      height: calc(177px / 2);
      font-size: 1.4rem;
    }
  }
}
