.italics {
  font-family: "CircularStd-BookItalic";
  font-size: 1.22rem;
}

.splash-italics {
  color: $pink;
  margin-top: 0;
}

.dog-quote {
  font-size: 2.1rem;
  color: $white;
  text-align: center;
}
