.plant-container {
  background-color: $blue;
  height: 750px;
  color: $pink;
  position: relative;
  display: flex;
  position: relative;
  @media screen and (max-width: $bp-desktop) {
    height: 750px;
    justify-content: space-between;
  }
  @media screen and (max-width: $bp-tablet) {
    flex-direction: column;
    height: fit-content;
    align-items: center;
  }
  .plant-text-container {
    margin-top: 120px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    @media screen and (max-width: $bp-tablet) {
      align-items: center;
      width: 80%;
    }
    .plant-text-wrapper {
      max-width: 400px;
      margin: 0 auto;
      .plant-title {
        color: $white;
      }
      .plant-text {
        line-height: 3.8rem;
        font-size: 2.2rem;
        @media screen and (max-width: $bp-desktop) {
          font-size: 1.5rem;
        }
      }
    }
  }
  .plant-image-container {
    height: 100%;
    margin-top: 130px;
    width: 50%;
    @media screen and (max-width: $bp-desktop) {
      width: 50%;
      bottom: 0;
    }
    @media screen and (max-width: $bp-tablet) {
      width: 100%;
    }
    // min-height: 400px;
    img {
      height: auto;
      width: 100%;
    }
  }
  .plant-bubble {
    width: 380px;
    height: 380px;
    bottom: -222px;
    left: 40%;
    color: $white;
    background-color: $pink;
    background-image: url("../img/instagram-white-transp.svg");
    background-size: 74%;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    padding: 2rem 2rem;
    @media screen and (max-width: $bp-desktop) {
      width: 300px;
      height: 300px;
      margin-left: 50px;
      bottom: -150px;
      left: 30%;
    }
  }
  .bubble-title {
    color: $blue;
    font-size: 2.4rem;
    letter-spacing: 0.2rem;
    padding: 0 2rem;
    margin: 0;
  }
  .bubble-text {
    color: $white;
    margin: 1.7rem 0;
    @media screen and (max-width: $bp-tablet) {
      font-size: 1rem;
    }
  }
}

.bubble {
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
