.plant-container {
  background-color: $blue;
  height: 750px;
  color: $pink;
  position: relative;
  display: flex;
  position: relative;
  @media screen and (max-width: $bp-desktop) {
    height: 500px;
  }
  .plant-text-container {
    margin-top: 120px;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    width: 50%;
    .plant-text-wrapper {
      max-width: 400px;
      margin: 0 auto;
      .plant-title {
        color: $white;
      }
      .plant-text {
        line-height: 3rem;
      }
    }
  }
  .plant-image-container {
    height: 100%;
    margin-top: 95px;
    width: 50%;
    @media screen and (max-width: $bp-desktop) {
      width: 450px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
  .plant-bubble {
    width: 300px;
    height: 300px;
    bottom: -200px;
    left: 45%;
    color: $white;
    background-color: $pink;
    @media screen and (max-width: $bp-desktop) {
      width: 200px;
      height: 200px;
      margin-left: 50px;
    }
    .bubble-title {
      color: $blue;
    }
    .bubble-text {
      color: $white;
    }
  }
}

.bubble {
  position: absolute;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
