.splash-container {
  position: relative;
  .splash-image-container {
    margin-top: -350px;
    margin-left: 50px;
    width: 1150px;
    @media screen and (max-width: 1350px) {
      width: 900px;
      margin-left: 0;
    }
    @media screen and (max-width: $bp-desktop) {
      width: 75vw;
    }
    @media screen and (max-width: $bp-tablet) {
      width: 100%;
      margin-top: -300px;
    }
    img {
      height: auto;
      width: 100%;
    }
  }
}

.splash-bubble {
  background-color: $blue;
  width: 500px;
  height: 500px;
  top: -15px;
  right: 300px;
  padding: 5rem;
  @media screen and (max-width: 1400px) {
    right: 200px;
  }
  @media screen and (max-width: $bp-desktop) {
    width: 400px;
    height: 400px;
    right: 50px;
    padding: 3.5rem;
  }
  @media screen and (max-width: $bp-tablet) {
    width: 250px;
    height: 250px;
    top: -70px;
  }
  @media screen and (max-width: $bp-phone) {
    right: 0;
    top: -100px;
  }
  .dog-quote {
    font-size: 2.1rem;
    color: $white;
    text-align: center;
    @media screen and (max-width: $bp-desktop) {
      font-size: 1.5rem;
    }
    @media screen and (max-width: $bp-tablet) {
      font-size: 1rem;
    }
  }
}
