// Colors
$pink: rgb(244, 174, 186);
$blue: rgb(36, 46, 94);
$white: rgb(255, 255, 255);

// Box Shadow
$box-shadow: 3px 11px 11px 0px rgba(0, 0, 0, 0.15);

// Breakpoints
$bp-desktop: 1200px;
$bp-tablet: 770px;
$bp-phone: 500px;
$bp-xs: 415px;
